body {
    background-color: #FFC107;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

div #app{
    display: flex;
    justify-content:center;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

.title {
    width: 100%;
    color: white;
    font-family: 'Paytone One', sans-serif;
    font-size: 25px;
}

@media only screen and (min-width: 641px) {
    .title {
        width: 50%;
        color: white;
        font-family: 'Paytone One', sans-serif;
        font-size: 25px;
    }
}
.title > h1 {
   margin: 0px; 
   text-align: center;
}

.main-header {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    box-shadow: 1px 8px 25px black;
    z-index: 3;
}

@media only screen and (min-width: 641px) {
    .main-header {
        display: flex; /* This will allow our row to display columns horizontally */
        flex-wrap: wrap;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        right: 0;
        box-shadow: 1px 8px 25px black;
    }
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('search-icon-png-2.png');
    background-size: 20px 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 8px 16px 8px 36px;
    margin-bottom: 10px;
    outline: none;
}

input[type=text]:focus {
    width: 100%;
}

button[type=submit], input[type=reset] {
    display: none;
}

@media only screen and (min-width: 641px) {
    input[type=text] {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('search-icon-png-2.png');
        background-size: 25px 25px;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        margin-bottom: 0px;
        outline: none;
    }
}

.main-form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

@media only screen and (min-width: 641px) {
    .main-form {
        max-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.photo-results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
}

@media only screen and (min-width: 641px) {
    .photo-results {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 100px;
    }
}

.image {
        position: relative;
        float: left;
        height: 100px;
        width: 100px;
        margin: 10px;
        border-radius: 4px;
        box-shadow: 1px 5px 20px black;
        z-index: 0;
    }

@media only screen and (min-width: 641px) {

    .image {
        position: relative;
        float: left;
        height: 200px;
        width: 200px;
        margin: 10px;
        border-radius: 4px;
        box-shadow: 1px 5px 20px black;
        z-index: 0;
    }
}
/*.image:hover{*/
/*    position: absolute;*/
/*    height: 225px;*/
/*    width: 225px;*/
/*    z-index: 1;*/
/*    margin-top: -5px;*/
/*	margin-left: -5px;*/
/*}*/